<?xml version="1.0" encoding="UTF-8"?>
<!--  <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="actitime.script.ValidateInvalidLoginPageE"/>
      <class name="actitime.script.ValidateInvalidLoginPage"/>
      <class name="actitime.script.ValidateCheckBox"/>
      <class name="actitime.script.ValidateVersionE"/>
      <class name="actitime.script.ValidateValidLoginPage"/>
      <class name="actitime.script.ValidateLoginPageE"/>
      <class name="actitime.script.ValidateLoginPageTitle"/>
      <class name="actitime.script.ValidateCreateTask"/>
      <class name="actitime.script.ValidateHomePageTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
